body{
    margin-left: 15%;
    margin-right: 15%;
    background-color: #e6e8e6;
    font-family: Verdana, sans-serif;
    color: #553a41;
}
h1, h2, h3{
    color: #553a41;
    margin: 0px;
}
header{
    box-shadow: 0px 7px 12px 1px #bb7e8c8f;
    padding-left: 50px;
    padding-right: 80px;
    padding-bottom: 10px;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    border-radius: 25px;
    background-color: #e6e8e6;
}

#link > a{
    text-decoration: none;
    color: #74102a;
}
#link > a > h3:hover{
    color: #3a6ea5;
    transition: 0.2s;
}
header > div{
    display: flex;
    align-items: center;
    gap: 10px;
}
main{
    padding-left: 35px;
    padding-right: 50px;
    padding-bottom: 10px;
    padding-top: 10px;
    box-shadow: 0px 7px 12px 2px #bb7e8cbe;
    margin-bottom: 20px;
    border-radius: 25px;
}
#src-flt{
    display: flex;
    align-items: center;
    justify-content: center;
}
#search{
    width: 100%;
    display: flex;
    align-items: center;
}
#search > button{
    border: 0px;
    padding: 4px;
    background-color: #e6e8e6;
    cursor: pointer;
}
#filter > button{
    color: #e6e8e6;
    display: flex;
    align-items: center;
    border-radius: 50px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border: 0px;
    background-color: #bb7e8c;
    transition: 0.2s;
    cursor: pointer;
}
#filter > button:hover{
    background-color: #3a6ea5;
    box-shadow: 0px 7px 12px 2px #3a6ea5be;
    transition: 0.2s;
}
input{
    border-radius: 50px;
    padding: 10px;
    border: 0px;
    width: 70%;
    transition: 0.2s;

}
#four, #eight, #twelve, #sixteen{
    display: flex;
    justify-content: space-between;
}
.items{
    
    border: solid #bb7e8c 2px;
    margin: 10px;
    border-radius: 25px;
    width: max-content;
    transition: 0.2s;
}
.items:hover{
    border: solid #3a6ea5 2px;
    box-shadow: 0px 7px 12px 2px #3a6ea5be;
    transition: 0.2s;
    cursor: pointer;
}
.products{
    justify-content: space-evenly;
    display: flex;
}

.products > div {
    display: flex;
    flex-direction: column;
}
.price > h2, h3{
    margin: 0px;
}
.price{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: max-content;
    margin-bottom: 10px;
}
.price > h3{
    color: #553a4162;
    text-decoration: line-through #3a6ea5b7;
}
.price > h2{
    color: #3a6ea5;
}
.name{
    margin: 0px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
}
.img{
    border-radius: 23px;
    margin: 10px;
    width: 200px;
    height: 210px;
}
footer{
    padding-left: 30px;
    padding-right: 30px;
    box-shadow: 0px 7px 12px 2px #bb7e8cbe;
    display: flex;
    justify-content: space-between;
    border-radius: 25px;
    background-color: #e6e8e6;
}